.footer{
  background-color: var(--blue-color);
  text-align: center;
  padding-bottom: 80px;
  @include mobile{
    padding-bottom: 50px;
  }

  &__top-block{
    margin: 0 0 22px;
    gap: 43px;
    justify-content: center;
  }
  &__descr{
    color: rgb(126, 134, 142);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    @include mobile{
      word-break: break-all;
    }
  }
}