.products{
  background-image: url(../img/products-bg.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-y: 50px;
  @include medium-tablet{
    padding-bottom: 110px;
    background-image: url();
  }
  &__container{
    @include medium-tablet{
      padding: 0 0 110px;
    }
  }
  &__title{
    text-align: center;

    margin: 0 0 80px;
    @include medium-tablet{
      font-size: 32px;
    }
  }
  &__items{
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    @media (max-width: (1024px)) {
      display: none;
    }
  }
  &__item{
    grid-column: 4 span;

    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(242, 246, 250);
    @include medium-tablet{
      max-width: 300px;
      border-radius: 10px;
    }
  }
  &__slider{
    display: none;
    @include medium-tablet{
      display: flex;
    }
  }
  &__slide{
    @include medium-tablet{
      display: flex;
      justify-content: center;
    }
  }
  &__card-text{
    padding: 50px 44px;
    @include medium-tablet{
      padding: 35px 28px 20px;
      background-color: rgba(244,244,244,0.4);
    }
  }
  &__heading{
    margin: 0 0 12px;

    color: var(--grey-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 143%;

    @include medium-tablet{
      font-size: 18px;
    }
  }
  &__descr{
    color: var(--grey-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 143%;

    max-width: 240px;
    @include medium-tablet{
      font-size: 12px;
    }
  }
  &__text{
    color: var(--grey-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;

    display: block;
    margin-bottom: 14px;
    @include medium-tablet{
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
  &__btn{
    color: var(--grey-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;

    border-radius: 8px;
    background-color: rgb(254, 216, 76);

    padding: 20px 40px;
    @include medium-tablet{
      padding: 12px 20px;
      max-width: none;
      width: 100%;
      box-sizing: border-box;
    }
  }
}