<section class="application flex">
  <div class="application__container container">
    <div class="application__card flex">
      <h2 class="application__title title">Чтобы сделать заказ, укажите ваш телефон</h2>
      <p class="application__text">Мы&nbsp;перезвоним в&nbsp;течении 15&nbsp;минут, чтобы уточнить ваши пожелания</p>
      <form class="application__form flex" action="">
        <input class="application__input" type="number">
        <button class="application__btn btn-reset btn-condition">Сделать заказ</button>
      </form>
      <div class="application__check flex">
        <input class="application__input-check" type="checkbox" placeholder="Номер телефона">
        <p class="application__descr">Нажамая на&nbsp;кнопку, вы&nbsp;соглашаетесь с&nbsp;условиями обработки персональных данных</p>
      </div>
    </div>
  </div>
</section>