<section class="consultation">
  <div class="consultation__container container">
    <span class="consultation__text caption">Кто будет готовить?</span>
    <h2 class="consultation__title title">Лично приготовлю и&nbsp;всё красиво упакую для вашего события</h2>
    <ul class="consultation__list list-reset flex">
      <li class="consultation__item">Проконсультирую по&nbsp;выбору капкейков и&nbsp;придумаю нестандартную идею</li>
      <li class="consultation__item">Приготовлю капкейки для вашего события, которые обязательно всем понравятся</li>
      <li class="consultation__item">Аккуратно и&nbsp;красиво всё упакую, если вы&nbsp;хотите сделать приятный подарок</li>
    </ul>
    <button class="btn-reset consultation__btn btn-condition">Задать вопрос Юлии</button>
  </div>
</section>