<footer class="footer">
  <div class="footer__container container">
    <ul class="footer__top-block flex list-reset">
      <li class="footer__item">
        <a class="footer__descr" href="#">Согласие на обработку данных</a>
      </li>
      <li class="footer__item">
        <a class="footer__descr" href="#">Служба поддержки</a>
      </li>
      <li class="footer__item">
        <a class="footer__descr" href="#">Политика конфиденциальности</a>
      </li>
    </ul>
    <small class="footer__descr">&copy;&nbsp;nazvaniesaita.ru, 2054&nbsp;| Название компании или ИП&nbsp;ОГРН 0000000000000</small>
  </div>
</footer>
