<header class="header">
  <div class="container header__container flex-v-center">
    <a href="" class="header__logo">
      <img class="header__image" src="img/logo.svg" alt="logo">
    </a>

    <div class="header__contacts flex-v-center">
      <span class="header__text">г. Санкт Петербург, ул. Куйбышева&nbsp;31</span>
      <div class="header__info">
        <a class="header__link" href="tel:88128449549">8 (812) 844-95-49</a>
        <span class="header__descr">Ежедневно с&nbsp;9:00 до&nbsp;20:00</span>
      </div>
    </div>
  </div>
</header>
