<section class="hero">
  <div class="hero__container container">
    <span class="hero__addition">вкуснейшие</span>
    <h1 class="hero__text">Пирожные и&nbsp;капкейки  от&nbsp;150&nbsp;₽/шт.&nbsp;с&nbsp;доставкой по&nbsp;Санкт Петербургу</h1>
    <span class="hero__descr">Приготовим за&nbsp;3&nbsp;часа в&nbsp;день заказа.
    Доставка на&nbsp;авто в&nbsp;холодильнике.</span>
    <div class="hero__block">
      <a class="hero__link btn-condition" href="#">Перейти в каталог</a>
      <span class="hero__explanation">9&nbsp;различных видов на&nbsp;выбор</span>
    </div>
  </div>
</section>