<section class="order">
  <div class="order__container container grid">
    <span class="order__text">Не&nbsp;нашли то&nbsp;что нужно?</span>
    <h2 class="order__title">Приготовим заказ любой сложности по&nbsp;фото или эскизу</h2>
    <p class="order__descr">Загрузите фотографию или эскиз капкейков и&nbsp;мы&nbsp;рассчитаем стоимость за&nbsp;30&nbsp;минут</p>
    <form class="order-form" method="post" enctype="multipart/form-data">
      <label class="input-file order-form__file">
           <input class="order-form__input" type="file" name="file">
           <span class="order-form__input-text">Загрузить фотографию</span>
       </label>
    </form>
  </div>
</section>