<section class="products">
  <div class="products__container container">
    <h2 class="products__title title">Для любых событий и&nbsp; дорогих вам людей </h2>
    <div class="products__items grid">
      <div class="products__item">
        <img class="products__image" src="img/products1.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Кремовый замок</h3>
          <p class="products__descr">Нежный крем любого цвета на выбор, вафельная основа</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products2.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Малиновый рай</h3>
          <p class="products__descr">Воздушный крем, темная основа и&nbsp;ягода малины</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products3.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Фейерверк</h3>
          <p class="products__descr">Разноцветные крем, с&nbsp;бисквитной основой</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products4.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Шоколадный мир</h3>
          <p class="products__descr">Ореховая стружка, нежный крем и&nbsp;шоколадная основа</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products5.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Слезы дракона</h3>
          <p class="products__descr">Нежный крем любого цвета на выбор, вафельная основа</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products6.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Летняя фантазия</h3>
          <p class="products__descr">Украшения в форме сердец, для любимого человека</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products7.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Мыс безумия</h3>
          <p class="products__descr">Разноцветная основа, стружка и&nbsp;нежный крем</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products8.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Облачная сказка</h3>
          <p class="products__descr">Светлая основа, нежный крем со&nbsp;стружкой сверху</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>

      <div class="products__item">
        <img class="products__image" src="img/products9.jpeg" alt="cake img">
        <div class="products__card-text">
          <h3 class="products__heading">Темный рыцарь</h3>
          <p class="products__descr">Тёмная основа, нежный крем и&nbsp;вкусные шарики</p>
          <span class="products__text">150 ₽/шт.</span>
          <button class="products__btn btn-reset btn-condition">Заказать</button>
        </div>
      </div>
    </div>
    <div class="swiper products__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products1.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Кремовый замок</h3>
              <p class="products__descr">Нежный крем любого цвета на выбор, вафельная основа</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products2.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Малиновый рай</h3>
              <p class="products__descr">Воздушный крем, темная основа и&nbsp;ягода малины</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products3.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Фейерверк</h3>
              <p class="products__descr">Разноцветные крем, с&nbsp;бисквитной основой</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products4.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Шоколадный мир</h3>
              <p class="products__descr">Ореховая стружка, нежный крем и&nbsp;шоколадная основа</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products7.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Мыс безумия</h3>
              <p class="products__descr">Разноцветная основа, стружка и&nbsp;нежный крем</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products6.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Летняя фантазия</h3>
              <p class="products__descr">Украшения в форме сердец, для любимого человека</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products8.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Облачная сказка</h3>
              <p class="products__descr">Светлая основа, нежный крем со&nbsp;стружкой сверху</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide products__slide">
          <div class="products__item">
            <img class="products__image" src="img/products9.jpeg" alt="cake img">
            <div class="products__card-text">
              <h3 class="products__heading">Темный рыцарь</h3>
              <p class="products__descr">Тёмная основа, нежный крем и&nbsp;вкусные шарики</p>
              <span class="products__text">150 ₽/шт.</span>
              <button class="products__btn btn-reset btn-condition">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reviews__navigation products__navigation flex-v-center">
      <div class="swiper-button-prev">
        <img class="reviews__btn-img" src="img/reviews-btn.svg">
      </div>
      <div class="swiper-button-next">
        <img class="reviews__btn-img" src="img/reviews-btn.svg">
      </div>
    </div>
  </div>
</section>