<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title title">Почитайте отзывы довольных клиентов</h2>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-slide flex">
          <div class="reviews-slide__left">
            <h3 class="reviews-slide__title">&laquo;Результат дико порадовал, друзья были в&nbsp;восторге&raquo;</h3>
            <p class="reviews-slide__descr">&quot;Заказала капкейки, как подарок на&nbsp;новый год. Делать заказ было легко и&nbsp;приятно, ну&nbsp;а&nbsp;результат дико порадовал, друзья были в&nbsp;восторге. И&nbsp;оформление, и&nbsp;на&nbsp;вкус капкейки были просто замечательные. Обязательно буду заказывать еще Уже строю планы, чтобы попробовать все начинки. Они восхитительны! Даже кушать было жалко, такая красота!</p>
            <a class="reviews-slide__link" href="#">Читать отзыв полностью</a>
          </div>
          <div class="reviews-slide__right">
            <img class="reviews-slide__img" src="img/reviews-img1.png" alt="avatar">
            <span class="reviews-slide__name">Ирина Ларионова</span>
            <span class="reviews-slide__text">Санкт-Петербург</span>
          </div>
        </div>
        <div class="swiper-slide reviews-slide flex">
          <div class="reviews-slide__left">
            <h3 class="reviews-slide__title">&laquo;Результат дико порадовал, друзья были в&nbsp;восторге&raquo;</h3>
            <p class="reviews-slide__descr">&quot;Заказала капкейки, как подарок на&nbsp;новый год. Делать заказ было легко и&nbsp;приятно, ну&nbsp;а&nbsp;результат дико порадовал, друзья были в&nbsp;восторге. И&nbsp;оформление, и&nbsp;на&nbsp;вкус капкейки были просто замечательные. Обязательно буду заказывать еще Уже строю планы, чтобы попробовать все начинки. Они восхитительны! Даже кушать было жалко, такая красота!</p>
            <a class="reviews-slide__link" href="#">Читать отзыв полностью</a>
          </div>
          <div class="reviews-slide__right">
            <img class="reviews-slide__img" src="img/reviews-img1.png" alt="avatar">
            <span class="reviews-slide__name">Ирина Ларионова</span>
            <span class="reviews-slide__text">Санкт-Петербург</span>
          </div>
        </div>
        <div class="swiper-slide reviews-slide flex">
          <div class="reviews-slide__left">
            <h3 class="reviews-slide__title">&laquo;Результат дико порадовал, друзья были в&nbsp;восторге&raquo;</h3>
            <p class="reviews-slide__descr">&quot;Заказала капкейки, как подарок на&nbsp;новый год. Делать заказ было легко и&nbsp;приятно, ну&nbsp;а&nbsp;результат дико порадовал, друзья были в&nbsp;восторге. И&nbsp;оформление, и&nbsp;на&nbsp;вкус капкейки были просто замечательные. Обязательно буду заказывать еще Уже строю планы, чтобы попробовать все начинки. Они восхитительны! Даже кушать было жалко, такая красота!</p>
            <a class="reviews-slide__link" href="#">Читать отзыв полностью</a>
          </div>
          <div class="reviews-slide__right">
            <img class="reviews-slide__img" src="img/reviews-img1.png" alt="avatar">
            <span class="reviews-slide__name">Ирина Ларионова</span>
            <span class="reviews-slide__text">Санкт-Петербург</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews__navigation flex-v-center">
    <div class="swiper-button-prev">
      <img class="reviews__btn-img" src="img/reviews-btn.svg">
    </div>
    <div class="swiper-button-next">
      <img class="reviews__btn-img" src="img/reviews-btn.svg">
    </div>
  </div>
</section>
