<section class="work flex">
  <div class="work__container">
    <h2 class="work__title">Сделали более 3.000 заказов за 2 года</h2>
    <p class="work__descr">Посмотрите фото реальных заказов из нашего instagram</p>
    <div class="work__images flex">
      <div class="work__img-case flex">
        <img class="work__img" src="img/work-img1.jpeg" alt="cakes image" width="634">
        <img class="work__img" src="img/work-img2.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img3.jpeg" alt="cakes image">
      </div>
      <div class="work__img-case flex">
        <img class="work__img" src="img/work-img4.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img5.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img6.jpeg" alt="cakes image">
      </div>
      <div class="work__img-case flex">
        <img class="work__img" src="img/work-img7.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img8.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img9.jpeg" alt="cakes image">
      </div>
    </div>
    <div class="work__images-tablet">
      <div class="work__img-case flex">
        <img class="work__img" src="img/work-img1.jpeg" alt="cakes image" width="634">
        <img class="work__img" src="img/work-img2.jpeg" alt="cakes image">
      </div>
      <div class="work__img-case flex">
        <img class="work__img" src="img/work-img3.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img4.jpeg" alt="cakes image">
      </div>
      <div class="work__img-case flex">
        <img class="work__img" src="img/work-img5.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img6.jpeg" alt="cakes image">
      </div>
      <div class="work__img-case flex">
        <img class="work__img" src="img/work-img7.jpeg" alt="cakes image">
        <img class="work__img" src="img/work-img8.jpeg" alt="cakes image">
      </div>
    </div>
  </div>
</section>